.header {
    background: $off-black;   
    font-size: $l-size;
    color: white;
    text-align: center; 
    margin: 0 0;
    margin-bottom: $l-size;
    padding: $l-size; 
    // border-bottom: 2px solid ;
};