.navBar{
    background: white;
    margin-bottom: $l-size;
    display: flex;
    justify-content: space-between;
}

.navBar-button{
    margin: $m-size $l-size;
    color: white;
    border: none;
    border-bottom: 5px solid darken($purple, 10%);
    background: $purple;
    font-size: $m-size;
    padding: $m-size;

}

.navBar-button__add{
    margin: $m-size $l-size;
    color: white;
    border: none;
    border-bottom: 5px solid darken($purple, 10%);
    background: $purple;
    font-size: $m-size;
    padding: $s-size;

}

.navBar-input{
    border: 2px solid black;
    padding: $m-size $m-size;
    margin: $m-size $m-size;
}

@media (max-width: $desktop-breakpoint){
    .navBar{
        flex-direction: column;
        width: 40%;
        margin: auto;
    }

    .navBar-button__add{
        margin: 1rem;
        // padding: 0;
    }
    .navBar-button{
        margin: 1rem;
        margin-bottom: 1rem;
        // padding: 0;
    }

    .navBar-input{
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
        padding: 1rem;
        // width: 100%;
    }

    .group-button{
        display: flex;
        flex-direction: column;
    }
}